<div class="text-center">
    <h2>{{title}}</h2>
    <p>{{body}}</p>
    <p>{{user.name}}: {{format_date createdAt}}</p>

    <p>
        <a href="/" class="btn btn-primary">More Posts</a>
        <a href="/dashboard" class="btn btn-primary">New Post</a>
    </p>
    <main class = "container container-fluid mt-5">
        <form id="edit-comment-form" name="edit-comment-form">
            <input name="body" class="comment-input" type="text" placeholder="Enter Comment here">
            <input type="submit" class="btn btn-sm btn-danger"></input>
        </form>
    </main>
</div>

<script src="/js/post.js"></script>